body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
}
header {
  position: static;
}
main ul {
  width: 90%;
  margin: 4.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}
main li {
  display: flex;
  height: 15rem;
  background-color: white;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0.075rem 0.075rem 0.175rem black;
}
main li img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
main li:nth-of-type(3) {
  grid-column: 1 / 3;
  height: 18rem;
}
main li:nth-of-type(8) {
  grid-column: span 2;
  height: 18rem;
}

.card-content {
  color: rgb(50, 50, 50);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.link {
  text-align: right;
}
.link a {
  text-decoration: none;
  color: rgb(0, 181, 172);
  padding: 0.18rem;
  transition: all 0.4s;
}
.link a:hover {
  background-color: rgb(210, 244, 238);
  border-radius: 5px;
}

@media (max-width: 48rem) {
  #card ul {
    grid-template-columns: 100%;
    margin: 1rem;
  }
  main li {
    font-size: 0.75rem;
  }
  main li:nth-of-type(3) {
    grid-column: 1/1;
    height: auto;
  }
  main li:nth-of-type(8) {
    grid-column: 1/1;
    height: auto;
  }
}
